################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenUWP/v14/.suo
/obj/Debug
/OpenUWP.sln
